@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Oxygen&family=Oxygen+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  max-width: 16000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: gold;
}

#app-container {
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav ul {
  display: flex;
  gap: 45px;
}

.explore {
  height: 200px;
}
/*
.table-container {
} */

.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 8px;
}

.coin-details-page {
  border-bottom: #61dafbaa;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-button,
.login-button {
  cursor: pointer;
}

input,
.signup-button,
.login-button {
  margin: 5px 0px;
}

#signin-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coin-table th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6),
tbody tr td:nth-child(3),
tbody tr td:nth-child(4),
tbody tr td:nth-child(5),
tbody tr td:nth-child(6) {
  text-align: right;
}

.coin-table th:nth-child(2),
th:nth-child(8) {
  text-align: left;
}

tbody tr td:nth-child(7) {
  display: flex;
  align-items: center;
  text-align: center;
}

tbody tr td:nth-child(8) {
  max-width: 100px;
}

img .crypto-logo {
  height: auto; /* Adjust height proportionally */
  width: 10rem; /* Increase width */
  object-fit: contain; /* Ensures the image is scaled correctly */
}

img .user-icon-button {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button .user-button {
  padding: 0;
  margin: 0;
}

@media (max-width: 980px) {
  .coin-table th:nth-child(1) {
    display: none;
  }

  .coin-table tbody tr td:nth-child(1) {
    display: none;
  }
}

@media (max-width: 900px) {
  .coin-table th:nth-child(7) {
    display: none;
  }

  .coin-table tbody tr td:nth-child(7) {
    display: none;
  }
}

@media (max-width: 750px) {
  .coin-table th:nth-child(5) {
    display: none;
  }

  .coin-table tbody tr td:nth-child(5) {
    display: none;
  }
}

@media (max-width: 650px) {
  .coin-table th:nth-child(6) {
    display: none;
  }

  .coin-table tbody tr td:nth-child(6) {
    display: none;
  }

  .pagination-select {
    display: none;
  }
}

@media (max-width: 5000px) {
  .pagination-shortcut {
    display: none;
  }
}

.menuItem {
  background-color: red !important;
}
